.formInput {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin-bottom: 10px;
  margin-left: 70px; 
}

input,
select {
  padding: 12px;
  margin: 5px 0;
  border-radius: 1px;
  border: 1px solid gray;
  font-size: 14px;
}

label {
  font-size: 14px;
  color: #333;
  margin-bottom: 1px; 
}

span {
  font-size: 12px;
  padding: 3px;
  color: red;
  display: none;
}

input:invalid[focused="true"],
select:invalid[focused="true"] {
  border: 1px solid red;
}

input:invalid[focused="true"] ~ span,
select:invalid[focused="true"] ~ span {
  display: block;
}

.checkbox-options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* to add some gap between checkbox options */
}

.checkbox-options label {
  cursor: pointer;
  margin-bottom: 0;
  display: flex;
  align-items: center; /* Align the Center checkboxes vertically */
}

.checkbox-options input {
  margin-right: 5px; /* to add space between checkbox and label */
}

select {
  width: 100%;
  color: #333;
}

select option {
  background-color: #fff;
  color: #333;
  font-size: 14px;
  padding: 5px 10px;
}


